.container {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.left, .right {
  display: grid;
  
}
.left section {
  border: 0.1rem var(--hue-sole) solid;
  border-radius: .5rem;
  padding: .25rem;
  margin: .25rem auto;
}
.container h2, .container h3, .container p {
  padding: 1rem;
}

.left img {
  margin: 0;
  float: right;
  width: 7rem;
  height: auto;
}
.right img {
  width: 10rem;
  height: auto;
  margin: 0 3rem;
  float: center;
}

@media (width > 660px) {
  .container {
    display: grid;
    grid-template-areas:
      'header header'
      'intro intro'
      'details self'
    }
    .container article:nth-child(1) {
      grid-area: header
    }
    .container article:nth-child(2) {
      grid-area: intro;
      width: 100%;
      margin: 0 auto;
    }
    .left {
      grid-area: details;
    }
    .right {
      grid-area: self;
    }
    .left section {
      border: 0.1rem var(--hue-sole) solid;
      border-radius: .5rem;
      padding: 1rem;
      margin: .5rem auto;
    }
    .left img {
      margin: 0 2rem;
      float: right;
      width: 10rem;
      height: auto;
    }
    .left h2 {
      padding: 2rem;
    }
    .left h3 {
      padding: 2rem;
    }
    .left p {
      text-align: left;
      padding: 2rem;
    }
}