.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.left {
  display: grid;
  width: 80%;
  margin: auto;
}
.right {
  width: 80%;
  margin: 2rem auto;
  --areasize: 5rem;
  --gradient: #0000 90deg, var(--hue-alph) 0;
  background: 
    conic-gradient(from 90deg at .15rem .15rem,var(--gradient))
     0 0/var(--areasize) var(--areasize),
    conic-gradient(from 90deg at 1px 1px,var(--gradient))
     0 0/calc(var(--areasize)/5) calc(var(--areasize)/5);
     background-position: center;
}
.left section {
  border: 0.1rem var(--hue-sole) solid;
  border-radius: .5rem;
  margin: 1rem auto;
}
.container h2, .container h3, .container p {
  padding: 1rem;
}

.left img {
  margin-right: 1rem;
  float: right;
  width: 7rem;
  height: auto;
}
.right img {
  width: 50%;
  height: auto;
  float: center;
}

@media (width > 660px) {
  .container {
    width: 80%;
    display: grid;
    grid-template-columns: .6fr .4fr;
    grid-template-areas:
      'header header'
      'intro intro'
      'details self'
    }
    .container article:nth-child(1) {
      grid-area: header
    }
    .container article:nth-child(2) {
      grid-area: intro;
      width: 100%;
      margin: 0 auto;
    }
    .left {
      grid-area: details;
      display: grid;
    }
    .right {
    }
    .left section {
      width: 100%;
      border: 0.1rem var(--hue-sole) solid;
      border-radius: .5rem;
      margin: .5rem auto;
    }
    .left img {
      margin-left: 2rem;
      float: right;
      width: 10rem;
      height: auto;
    }
    .right img {
      width: 100%;
    }
    /*.left h2 {
      padding: 1rem;
    }
    .left h3 {
      padding: 1rem;
    }
    .left p {
      text-align: left;
      padding: 1rem;
    }*/
}