.home {
	width: 100%;
	display: flex;
	justify-content: center;
}
.home h1 {
	animation: fadein .5s ease-in-out;
}

@media (width > 660px) {
	.home h1 {
		font-size: 3rem;
		line-height: 3.5rem;
	}
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}