article.grille {
  margin: 0 auto;
  width: 90%;
  max-height: 60vh;
  display: grid;
  grid-template-areas:
    'greet blogs'
    'resum blogs'
    'proje proje'
    'tools about'
    'works works'
    'socia conta';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  animation: fadein 1s ease-in-out;
}
.article.grille::-webkit-scrollbar { 
  display: none;
}
article.grille p {
  padding: 0;
  text-align: center;
}
article.grille h4 {
  margin-top: .5rem;
  text-transform: none;
  font-size: small;
}

.grille > section {
  margin: .5rem;
  height: auto;
  border: 0.1rem var(--hue-sole) solid;
  border-radius: .35rem;
  text-align: center;
  cursor: pointer;
  background-position: center;
  background-size: 1rem 1rem;
  background-image:
    linear-gradient(to right, var(--hue-alph) 1px, transparent 1px),
    linear-gradient(to bottom, var(--hue-alph) 1px, transparent 1px);
}
.grille > section:hover {
  border: 0.1rem var(--hue-teal) groove;
  background-color: var(--hue-alph);
}
.grille div {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.grille div i {
  padding: .5rem .25rem;
}
.grille p {
  line-height: 1rem;
}

.greet {
  grid-area: greet;
  display: grid;
  place-items: center;
}
.greet h2 {
  font-size: 100%;
  text-transform: none;
}
.greet p {
  text-align: center;
}
.resum {
  padding: .25rem;
  grid-area: resum;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.resum i {
  padding-top: 2rem;
  font-size: 1.3rem;
}
.blogs {
  grid-area: blogs;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogs a {
  margin: .5rem;
  color: var(--hue-vert);
}
.blogs a:hover {
  color: var(--hue-jaun);
  scale: .8;
}
.blogs i {
  margin: .5rem;
  font-size: 2rem;
}
.proje {
  grid-area: proje;
}
.about {
  grid-area: about;
}
.works {
  grid-area: works;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.works::-webkit-scrollbar { 
  display: none;
}
.tools {
  grid-area: tools;
  margin: .1rem auto;
  border: 0.1rem var(--hue-blan) solid;
  font-size: 1.2rem;
  color: var(--hue-bleu);
}
.tools i:hover {
  color: var(--hue-plum);
  font-size: .8rem;
  border-top: 1px var(--hue-jaun) solid;
}
.socia {
  grid-area: socia;
}
.conta {
  grid-area: conta;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.conta p {
  line-height: .75rem;
}
.conta i {
  color: var(--hue-bleu);
  font-size: 2rem;
  margin-bottom: 1rem;
}
.conta i:hover {
  color: var(--hue-jaun);
  scale: 1.3;
}

@media (width > 660px) {
  article.grille {
    margin: 0 auto;
    width: 80%;
    min-height: 25vh;
    display: grid;
    grid-template-areas:
      'greet greet blogs blogs proje proje proje proje proje proje'
      'resum resum blogs blogs proje proje proje proje proje proje'
      'about about about about works works works socia socia socia'
      'tools tools tools tools works works works conta conta conta';
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .proje a {
    margin: .2rem .5rem;
    font-size: 1.2rem;
  }
  .socia a {
    margin: .25rem;
    font-size: 1.25rem;
  }
}

/* Keyframes */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}