article.grille {
  margin: 0 auto;
  width: 80vw;
  min-height: 75vh;
  display: grid;
  grid-template-areas:
    'greet resum'
    'proje proje'
    'tools about'
    'works works'
    'socia conta';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow-y: scroll;
}
article.grille p {
  padding: 0;
  text-align: center;
}
article.grille h4 {
  margin-top: .5rem;
  text-transform: none;
  font-size: small;
}

.grille > section {
  margin: .25rem;
  height: auto;
  border: 0.1rem var(--hue-sole) solid;
  border-radius: .35rem;
  text-align: center;
  cursor: pointer;
}
.grille > section:hover {
  border: 0.1rem var(--hue-teal) solid;
  background-color: var(--hue-alph);
}
.grille div {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.grille div i {
  padding: .5rem .25rem;
}

.greet {
  grid-area: greet;
}
.greet p {
  text-align: center;
}
.resum {
  grid-area: resum;
  background-color: var(--hue-blan);
}
.resum a {
  font-size: 5rem;
}
.resum a:hover {
  color: var(--hue-vert);
}
.proje {
  grid-area: proje;
}
.about {
  grid-area: about;
}
.works {
  grid-area: works;
  overflow-y: scroll;
}
.tools {
  grid-area: tools;
  background-color: var(--hue-jaun);
  border: 0.1rem var(--hue-blan) solid;
}
.socia {
  grid-area: socia;
}
.socia a {
  margin: .25rem;
  font-size: 1.5rem;
}
.socia i:hover {
  color: var(--hue-sole);
}
.conta {
  grid-area: conta;
}

@media (width > 660px) {
  article.grille {
    margin: 0 auto;
    width: 60%;
    min-height: 25vh;
    display: grid;
    grid-template-areas:
      'greet greet resum resum proje proje proje proje proje proje'
      'about about about about works works works tools tools tools'
      'socia socia socia socia works works works conta conta conta';
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .socia a {
    margin: .25rem;
    font-size: 2.5rem;
  }
}