.page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.page nav {
  font-family: var(--font-special-elite);
  font-size: 1.75rem;
}
.page nav ul {
  list-style: none;
}

