.header {
  display: flex;
  align-items: center;
}
.header a > img:hover {
  filter: invert(100%);
  scale: 1.05;
}
.header nav {
  margin-left: auto;
  font-family: var(--font-special-elite);
  font-size: 1.25rem;
}
.header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}