:root {
  --neu-h: 0;
  --neu-s: 0%;
  --neu-l: 90%;
  --neu-a: .25;
  --neu-radius: 12px;
  --neu-depth: 8px;

  --neu-bg: hsla(var(--neu-h), var(--neu-s), var(--neu-l), var(--neu-a));
  --neu-light: hsla(var(--neu-h), var(--neu-s), calc(var(--neu-l) + 6%), var(--neu-a));
  --neu-dark:  hsla(var(--neu-h), var(--neu-s), calc(var(--neu-l) - 8%), var(--neu-a));

  --hue-noire: #4e4e50;
  --hue-verre: #64beac;
  --hue-verte: #03abba;
  --hue-verte: #03abba;
  --hue-blach: #f7f5f2;
  --hue-accen: #9B4153;

  --background: var(--hue-blach);
  --foreground: var(--hue-noire);

  --height-footer: 2rem;
  --height-main: calc(100vh - var(--height-footer));
}

/* Resets */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}
/* Icons */
@font-face {
  font-family: 'Icons';
  src:  url('/fonts/Icons.eot');
  src:  url('/fonts/Icons.eot') format('embedded-opentype'),
    url('/fonts/Icons.ttf') format('truetype'),
    url('/fonts/Icons.woff') format('woff'),
    url('/fonts/Icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  font-family: 'Icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-derm:before {
  content: "\e902";
}
.icon-amha:before {
  content: "\e903";
}
.icon-maftuha:before {
  content: "\e904";
}
.icon-yaban:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-x:before {
  content: "\e901";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-lumiere:before {
  content: "\ea54";
}
.icon-sombre:before {
  content: "\ea55";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}

/* Defaults */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  display: flex;
  line-height: 1.5;
  min-height: 100vh;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jetbrains-mono), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-special-elite), Georgia, serif;
}
a {
  color: inherit;
  text-decoration: none;
}
main {
  flex: 1 0 auto;
}
.page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --neu-h: 0;
    --neu-s: 0%;
    --neu-l: 20%;
    --neu-a: .25;
    --background: var(--hue-noire);
    --foreground: var(--hue-blach);
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
