.contact {
  margin: 1em auto;
  display: flex;
  justify-content: center;
}

.email {
  font-family: var(--font-sans), sans-serif;
  font-size: small;
  padding: 1.2em;
  border: none;
  outline: none;
  color: var(--hue-noir);
  background: var(--hue-plum);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 1rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-transform: uppercase;
}

.email:before {
  content: "";
  background: linear-gradient(45deg,
  var(--hue-teal), 
  var(--hue-sole),
  var(--hue-jcce),
  var(--hue-sole),
  var(--hue-teal)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(.25rem);
  -webkit-filter: blur(.25rem);
  width: calc(100% + .25rem);
  height: calc(100% + .25rem);
  animation: glow 10s linear infinite;
  transition: opacity 0.5s ease-in-out;
  border-radius: 1em;
}

.email:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--hue-teal);
  left: 0;
  top: 0;
  border-radius: 1rem;
}

.email:hover:after {
  background: var(--hue-noir);
  opacity: 0;
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}