.social {
  display: flex;
  justify-content: end;
}

.social i {
  margin-left: 1em;
  width: 2rem;
  transition: all .2s ease-in-out;
  background-color: var(--hue-bleu);
  color: var(--blue);
  background: linear-gradient(45deg, 
  hsl(160, 95%, 64%), 
  hsl(190, 95%, 64%),
  hsl(200, 95%, 64%),
  hsl(190, 95%, 64%),
  hsl(160, 95%, 64%)
  ) 0% 0% / 200% 100% padding-box text;
  opacity: 1;
  -webkit-text-fill-color: transparent;
  animation: 5s infinite rainbow;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: 200% center;
  }
}
