.portfolio {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  animation: fadein 1s ease-in-out;
}
.portfolio h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}