.list li {
    display: flex;
}
.list li .date {
    margin-right: 1rem; 
}
.list a {
    font-weight: bold;
    margin-right: 1rem;
    text-transform: capitalize;
}
.list a::before {
    font-family: 'Icons';
    content: "\e909";
    margin: 0 0.5rem;
}
.list .excerpt {
    font-style: italic;
}

@media (max-width: 798px) {
    .list .excerpt {
        display: none;
    }
}
@media (max-width: 440px) {
    .list li .date {
        margin: 0;
    }
}