.header {
  position: sticky;
  background-color: hsla(179, 80%, 90%, .05);
  backdrop-filter: blur(1rem);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 1em;
}
.nav a:link, .nom {
  font-size: small;
  text-decoration: none;
  text-transform: uppercase;
}
.nav a:hover, .nav .nom:hover {
  text-decoration: none;
  color: var(--hue-jaun);
  border-top: 1px var(--hue-sole) solid;
  scale: .8;
}
.nav div {
  width: 100%;
  position: relative;
  display: flex;
}
.nav .nom {
  position: absolute;
  visibility: hidden;
  text-transform: uppercase;
  cursor: pointer;
}
.knznsmn span {
  font-size: 2rem;
}

.nav a:active {
  text-decoration: none;
}
.img {
    width: 2rem;
    height: auto;
}
.menu {
  display: flex;
}
.menu li {
    margin: 0.5rem;
    list-style: none;
}
@media (width > 660px) {
  .nav .nom {
    margin: 0;
    display: flex;
    visibility: visible;
    top: .5rem;
    left: 2.5rem;
  }
  .nav .nom:hover {
    scale: 1;
  }
}