.page {
  padding: 1rem;
}
.post {
  width: 90%;
  margin: 2rem auto;
  flex: 1;
}
.page hr {
  margin-bottom: 3rem;
}
.md {
  line-height: 1.7;
}
.md code {
  padding: 0.2rem 0.4rem;
	border-radius: 4px;
	border: 1px solid var(--neu-dark);
	font-family: var(--font-jetbrains-mono), monospace;
}
.md pre {
  background: var(--foreground);
  color: var(--background);
  margin: .5rem 0 2rem;
  padding: 1rem;
  overflow: auto;
  border-radius: 6px;
  border: 1px solid var(--neu-bg);
  box-shadow: 0 8px 16px hsla(var(--neu-h), var(--neu-s), var(--neu-l), 0.15);
  position: relative;
  max-width: 660px;
}

.md pre code {
	background: transparent;
	color: inherit;
	border: none;
	padding: 0;
  font-size: 0.9rem;
}
